<widget-container header="Quick List" widget-id="quick-list">
  <div ng-show="qlVm.loading && qlVm.userSession.user">
    <img src="/assets/images/loading.gif" height="200" width="250">
  </div>
  <div ng-show="!qlVm.userSession.user">
    <h3>Please login to view your list!</h3>
  </div>
  <div ng-hide="qlVm.loading || !qlVm.userSession.user">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--3-col">
        <button ng-click="qlVm.addNewItem(qlVm.description); qlVm.description = '';" type="button" class="mdl-button" >Add</button>
      </div>
      <div class="mdl-cell mdl-cell--9-col">
        <div class="input-group">
          <input id="add-item-id" type="text" class="form-control" ng-model="qlVm.description">
          <span ng-click="qlVm.description = '';" class="input-group-addon clickable">
            X
          </span>
        </div>
      </div>
    </div>

    <table class="quick-list-table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <tbody>
        <tr ng-repeat="listItem in qlVm.listItems track by $index">
          <td ng-click="qlVm.editMode = true; qlVm.selectedItem.description = listItem.description; qlVm.selectedItem._id = listItem._id;" class="mdl-data-table__cell--non-numeric">
            <div ng-hide="qlVm.editMode && qlVm.selectedItem._id === listItem._id">
              {{listItem.description}}
            </div>
            <div ng-show="qlVm.editMode && qlVm.selectedItem._id === listItem._id">
              <input type="text" class="form-control" ng-model="qlVm.selectedItem.description">
            </div>
          </td>
          <td>
            <div ng-hide="qlVm.editMode && qlVm.selectedItem._id === listItem._id">
              <a ng-click="qlVm.deleteItem(listItem)" href="#"><i class="material-icons">delete</i></a>
            </div>
            <div ng-show="qlVm.editMode && qlVm.selectedItem._id === listItem._id">
              <a ng-click="qlVm.editItemDescription(qlVm.selectedItem); qlVm.editMode = false;" href="#"><i class="material-icons">done</i></a>
              <a ng-click="qlVm.editMode = false; qlVm.selectedItem = {};" href="#"><i class="material-icons">cancel</i></a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <quick-list-widget-settings/>
</widget-container>