<widget-container header="Spotify" widget-id="spotify">
  <div ng-show="spotifyVm.spotifyToken">
    <div ng-show="spotifyVm.loading">
      <img src="/assets/images/loading.gif" height="200" width="250">
    </div>
    <div ng-hide="spotifyVm.loading">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
          <button ng-click="spotifyVm.showPlaylists = !spotifyVm.showPlaylists" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
            <span ng-show="spotifyVm.showPlaylists">
              Now Playing
            </span>
            <span ng-hide="spotifyVm.showPlaylists">
              Playlists
            </span>
          </button>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
          <div ng-hide="spotifyVm.showPlaylists">
            <iframe src="https://embed.spotify.com/?uri=spotify:user:matt.voget:playlist:0eT9iQIPVO4xFK04teWkvn" frameborder="0" allowtransparency="false" width="300" height="380"></iframe>
          </div>
          <div ng-show="spotifyVm.showPlaylists">
            <ul class="list-group">
              <li ng-repeat="playlist in spotifyVm.playlists" class="list-group-item">
                <strong>{{playlist.name}}</strong>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Allow the user to authenticate with spotify -->
  <div ng-hide="spotifyVm.spotifyToken">
    <h3>Please Login to Spotify</h3>
    <a target="_self" href="/spotify-login" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Login</a>
  </div>
  <spotify-widget-settings/>
</widget-container>

