<div class="dashboard-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <span ui-sref="dashboard" class="mdl-layout-title clickable">My Dashboard</span>
      <div class="mdl-layout-spacer"></div>
      <button ng-show="shellVm.isDashboard()" ng-click="shellVm.refreshWidgets()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect plain-button">
        Refresh
      </button>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span ui-sref="dashboard" class="mdl-layout-title clickable">My Dashboard</span>
    <navbar/>
  </div>
  <main class="mdl-layout__content dashboard">
    <div class="page-content" ng-transclude>
    </div>
  </main>
</div>