<widget-container header="Quick List" widget-id="quick-list">
  <div ng-show="qlVm.loading">
    <img src="/assets/images/loading.gif" height="200" width="250">
  </div>
  <div ng-hide="qlVm.loading">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--3-col">
        <div ng-hide="qlVm.addingNewItem">
          <button ng-click="qlVm.addingNewItem = true;" type="button" class="mdl-button">Add</button>
        </div>
        <div ng-show="qlVm.addingNewItem">
          <button ng-click="qlVm.addNewItem(qlVm.description); qlVm.description = '';" type="button" class="mdl-button" >Save</button>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--9-col">
        <div ng-show="qlVm.addingNewItem" class="input-group">
          <input id="add-item-id" type="text" class="form-control" ng-model="qlVm.description">
          <span ng-click="qlVm.addingNewItem = false; qlVm.description = '';" class="input-group-addon clickable">
            X
          </span>
        </div>
      </div>
      
    </div>
    <!--
    <div class="quick-list-actions">
      <div ng-hide="qlVm.addingNewItem">
        <div class="in-line quick-list-action-title">
          <button  ng-click="qlVm.addingNewItem = true;" type="button" class="mdl-button">Add</button>
        </div>
      </div>
      <div ng-show="qlVm.addingNewItem">
        <div class="in-line quick-list-action-title">
          <button ng-click="qlVm.addNewItem(qlVm.description); qlVm.description = '';" type="button" class="mdl-button" >Save</button>
        </div>
        <div class="in-line">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="add-item-id" type="text" class="mdl-textfield__input" ng-model="qlVm.description">
            <label class="mdl-textfield__label" for="add-item-id">What to do?</label>
          </div>
          <a ng-click="qlVm.addingNewItem = false; qlVm.description = '';" class="mdl-button mdl-button--primary mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">close</i>
          </a>
        </div>
      </div>
      -->
    </div>
    <ul class="quick-list-items">
      <li ng-repeat="item in qlVm.listItems">{{item.description}}</li>
    </ul>
  </div>
  <quick-list-widget-settings/>
</widget-container>