<div class="widget-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <div ng-hide="qlVm.loading">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--10-col">
          <h4>Quick List</h4>
        </div>
        <div class="mdl-cell mdl-cell--2-col">
          <button ng-hide="qlVm.addingNewItem" ng-click="qlVm.addingNewItem = true;" type="button" class="mdl-button">Add</button>
          <button ng-show="qlVm.addingNewItem" ng-click="qlVm.addNewItem(qlVm.description)" type="button" class="mdl-button">Save</button>
        </div>
      </div>
    </div>
  </div>
  <div class="mdl-card__supporting-text">
    <div ng-show="qlVm.loading">
      <img src="/assets/images/loading.gif" height="200" width="250">
    </div>
    <div ng-hide="qlVm.loading">
      <div ng-show="qlVm.addingNewItem" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input id="add-item-id" type="text" class="mdl-textfield__input" ng-model="qlVm.description">
        <label class="mdl-textfield__label" for="add-item-id">What to do?</label>
      </div>
      <ul ng-repeat="item in qlVm.listItems">
        <li>{{item.description}}</li>
      </ul>
    </div>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <div class="mdl-layout-spacer"></div>
    <a ng-click="qlVm.showSettingsDialog()" class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">settings</i>
    </a>
  </div>
</div>

<!-- Configuration Dialog -->
<dialog id="settings-dialog-ql" class="mdl-dialog">
  <h3 class="mdl-dialog__title">List Settings</h3>
  <div class="mdl-dialog__content">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input id="some-id" type="text" class="mdl-textfield__input" ng-model="qlVm.something">
      <label class="mdl-textfield__label" for="some-id">Enter Something</label>
    </div>
  </div>
  <div class="mdl-dialog__actions">
    <button ng-click="qlVm.applySettingsChange(qlVm.something); qlVm.hideSettingsDialog()" type="button" class="mdl-button">Apply</button>
    <button ng-click="qlVm.hideSettingsDialog()" type="button" class="mdl-button">Cancel</button>
  </div>
</dialog>