/* Main App Specific CSS */
body {
  background-color: rgb(247, 247, 247);
}

.dashboard-layout {
  background-color: #000;
}

.row {
  margin-top: 10px;
}

.login-input {
	margin-bottom: 10px;
}

#mdl-dialog-theme-changer {
  width: 600px;
}

#theme-list {
  overflow-x: auto;
  width: 500px;
  height: 175px;
  margin: 20px;
}

.theme {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 10px;
}

/* Navbar CSS */
#welcome-message:hover {
  background-color: #fafafa;
  color: #000;
}

#welcome-message {
  color: #000;
}

.mdl-navigation > a:hover {
  text-decoration: none;
}

/* User Management CSS */
#user-welcome {
  font-weight: bold;
  color: white;
}

.user-table {
  max-width: 300px;
  margin-bottom: 100px;
}

#mdl-dialog-user {
  width: 600px;
}

/* Common CSS Classes */
.clickable:hover {
  cursor: pointer;
}

.centered {
  text-align: center;
}

.right-align {
  float: right;
}

.in-line {
  display: inline-block;
}

.top-align {
  vertical-align: text-top;
}

.vertical-center-align {
  height: 100%;
  position: relative;
  top: 50%; 
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.plain-button {
  color: black;
  background-color: white;
}

.plain-button:hover {
  color: black;
  background-color: white;
}