body {
  background-color: rgb(247, 247, 247);
}

.row {
  margin-top: 10px;
}

.jumbotron {
  /* background-color: #595959; */
  background-color: rgb(96,125,139);
  color: white;
  margin-top: 20px;
}

.navbar-inverse .navbar-brand {
  color: #cccccc;
}

.navbar-inverse .navbar-text {
  color: #cccccc;
}

.navbar-inverse .navbar-nav > li > a {
  color: #cccccc;
}

.user-welcome {
  font-weight: bold;
  color: white;
}

.login-input {
	margin-bottom: 10px;
}

.user-select:hover {
	cursor: pointer;
	color: #336699;
}

.user-delete-icon:hover {
	cursor: pointer;
}

.clickable:hover {
  cursor: pointer;
}

.user-table {
  max-width: 300px;
  margin-bottom: 100px;
}

.centered {
  text-align: center;
}

.right-align {
  float: right;
}

#new-user-dialog {
  width: 600px;
}

#edit-user-dialog {
  width: 600px;
}

.dashboard {
  background-image: url("/assets/images/dashboard-background.jpg");
  background-size: contain;
}

.widget-card.mdl-card {
  width: 300px;
  height: 300px;
  margin-left: 20px;
  margin-top: 20px;
}
.widget-card > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.widget-card > .mdl-card__title {
  align-items: flex-start;
}
.widget-card > .mdl-card__title > h4 {
  margin-top: 0;
}
.widget-card > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.widget-card > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.widget-card > .mdl-card__title,
.widget-card > .mdl-card__actions,
.widget-card > .mdl-card__actions > .mdl-button {
  color: #000;
}