/* Main App Specific CSS */
body {
  background-color: rgb(247, 247, 247);
}

.row {
  margin-top: 10px;
}

.jumbotron {
  background-color: rgb(96,125,139);
  color: white;
  margin-top: 20px;
}

.navbar-inverse .navbar-brand {
  color: #cccccc;
}

.navbar-inverse .navbar-text {
  color: #cccccc;
}

.navbar-inverse .navbar-nav > li > a {
  color: #cccccc;
}

.login-input {
	margin-bottom: 10px;
}

.dashboard {
  background-image: url("/assets/images/dashboard-background.jpg");
  background-size: contain;
}

/* User Specific CSS */
.user-welcome {
  font-weight: bold;
  color: white;
}

#new-user-dialog {
  width: 600px;
}

#edit-user-dialog {
  width: 600px;
}

.user-table {
  max-width: 300px;
  margin-bottom: 100px;
}

.user-select:hover {
  cursor: pointer;
  color: #336699;
}

.user-delete-icon:hover {
  cursor: pointer;
}

/* Common CSS Classes */
.clickable:hover {
  cursor: pointer;
}

.centered {
  text-align: center;
}

.right-align {
  float: right;
}

.in-line {
  display: inline-block;
}

.top-align {
  vertical-align: text-top;
}