/* Common Widget CSS */
.widget {
  height: 250px;
  overflow-y: auto;
  margin-bottom:20px;
}

/* Widget Specific CSS */
.weather-icon {
	margin-left: 20px;
}

.weather-supporting-info {
	margin-left: 20px;
}

.temperature {
	margin-top: 15px;
	margin-bottom: 30px;
	font-size: 54px;
}

.quick-list-table {
  width: 100%;
}