/* Common Widget CSS */
.widget {
  height: 250px;
  overflow-y: auto;
  margin-bottom:20px;
}

/* Widget Specific CSS */
.temperature {
  font-size: 54px;
  margin-left: 30px;
}

.quick-list-table {
  width: 100%;
}