<div class="widget-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <div ng-hide="stocksVm.loading">
      <h4>
        Stock Code: {{stocksVm.stockCode}}
      </h4>
    </div>
  </div>
  <div class="mdl-card__supporting-text">
    <div ng-show="stocksVm.loading">
      <img src="/assets/images/loading.gif" height="200" width="250">
    </div>
    <div ng-hide="stocksVm.loading">
      Price: {{stocksVm.latestPrice}}
    </div>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <div class="mdl-layout-spacer"></div>
    <a class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">settings</i>
    </a>
  </div>
</div>