<widget-container header="Weather">
  <div ng-show="weatherVm.loading">
    <img src="/assets/images/loading.gif" height="200" width="250">
  </div>
  <div ng-hide="weatherVm.loading">
    <img ng-src="{{weatherVm.icon}}" height="80" width="80">
    <span class="temperature">{{weatherVm.temperature}}&deg;</span>
    <br/>
    {{weatherVm.currentWeather}}
    <br/><br/>
    <strong>{{weatherVm.city}}</strong>
    <br/>
    {{weatherVm.currentTime}}
  </div>
  <hr/>
  <div class="left-align">
    <a ng-click="weatherSettingsVm.showSettingsDialog()" class="mdl-button mdl-button--primary mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">settings</i>
    </a>
  </div>
</widget-container>

<weather-widget-settings/>